# Default ignored files
/shelf/
/workspace.xml
model/FORCENLPsolver/
model/__pycache__/

controller/MPC_Project_FORCESPRO/lib/MPC_Project_FORCESPRO.dll
controller/copy_LinearCentral_MPC.py
controller/stdout_temp.txt
controller/MPC_Project_FORCESPRO
controller/FORCENLPsolver
controller/MPC_Project_FORCESPRO.mat
controller/MPC_Project_FORCESPRO_py.pyc
controller/MPC_Project_FORCESPRO.zip
controller/*.mat
controller/*.pyc
controller/*.forces
controller/FORCESNLPsolver/
controller/MPC_Project_FORCESPRO_py.pyc
.idea/