# Default ignored files
/shelf/
/workspace.xml
model/FORCENLPsolver/
model/__pycache__/
controller/MPC_Project_FORCESPRO/lib/MPC_Project_FORCESPRO.dll
controller/copy_LinearCentral_MPC.py
controller/copy_copy_LinearCentral_MPC.py